.containerr{
	width:88%;
	height:24em;
	padding:0.400em;
	box-shadow: 0 0 1em rgba(0,0,0,0.15);
	
	margin:0 auto;
	z-index: -1px;

	
	
}


.image-slider-wrapper{
	overflow: hidden;
}
#image_slider{
	position: relative;
	overflow: hidden;
	height: 24em;
	padding:0;
	left:0;

	

}
#image_slider li{
	position:relative;
	
	float:left;
	list-style: none;
	left: 0;

}

.navbar-toggle {
    position: none;
    float: none; 
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
     background-color: #95a5a6;
    background-image: none;
    border: transparent;
    border-radius: 4px;
    margin-left: 724%;
}

#bs-example-navbar-collapse-1{
	background: transparent;
}