/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*========================================================================================================================*/





body{
	padding-top: 0.400em; 
	
	
	color: #edf0fa;
	
	
	font-family: arial;

   

}



.section-heading{
	margin-top: 140em;
}

#message{
	resize: none;

}


#shield{
	margin-left: 24%;
	margin-top: 2em;
	
	
}



#leaf{
	margin-left: 70%;
	margin-top: 1%;
	

	
}
#like{
	margin-left: 24%;
	
	
}



#titleUOne{
	
	margin-top: 2em;
	margin-left: 7%;
	color: #4fc8f5;
	
	font-size: 21px;
	
	
}


#principal{
	text-align: center;
}




#parrUno{
	
	line-height: 3em;
	margin-top: 1em;
	margin-left: 7%;
	
	
	
	width: 44%;
	font-size: 1.300em;
	color: #caf0fe;
	text-align: justify;


}



#parrDos{
	
	line-height: 3em;
	width: 44%;
	margin-left: 53%;
	margin-top: 4em;
	width: 44%;
	font-size: 1.300em;
	color: #caf0fe;
	text-align: justify;


}

#parrTres{
	
	line-height: 3em;
	margin-top: 4em;
	margin-left: 7%;
	width: 44%;
	font-size: 1.300em;
	color: #caf0fe;
	text-align: justify;


}




#sombre{
	width:88%;

	padding:0.400em;
	box-shadow: 0 0 1em rgba(0,0,0,0.15);
	margin-top: -10%;

	
	margin:0 auto;
}



#foto{
	margin-left: 90%;
	position: absolute;
	top: 54em;

}

#fotoo{
	margin-left: 95%;
	position: absolute;
	top: 54em;
}


#hola{
	text-align: center;
}

.lead{
	text-align: center;
}

.modal-content{
	color: #4b7f91;
}

.containerr{
	background: #1e5374;
	box-shadow: none;
}


.ocultarMsjError{
	display: none;
}
.mostrarMsjError{
	display: inline;
}
.styleError{
	border: 2px solid #fc5c65;

	
	
}



/*==================================
   Media Queries
==================================*/


